<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_2"
        android:label="TFG"
        android:roundIcon="@drawable/cropped_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.PruebasTGG"
        tools:targetApi="31">

        <activity
            android:name=".DisplayInicioReal"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.PruebasTGG"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Inicio"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.DisplayCreadorHistoria"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.DisplayCreadorHistoriaExtrema"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ui.cajon.FinalResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ui.cajon.DisplayCadaver"
            android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>
